*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --width: 300px;
  --padding: 10px;
  --bgcolor: rgb(52,52,52);
  --hovercolor: rgb(100, 1, 1);
  --width-collapsed: 50px;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: var(--width-collapsed);
}

.body-expanded{
  margin-left: 8%;
}

#main-container{
  color: white;
}

#sidemenu{
  background-color: var(--bgcolor);
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

.menu {
    background-color: white;
    height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  }
 
  #logo{
    float:left;
    width: 100px;
    height: 100%;
    display: block;
    margin-left: 46%;
  }

  .info{
    padding-top: 0.6%;
    margin-left: 80%;
    width: 20%;
    height: 100px;
  }

  .info #title-Info{
    float: left;
    margin-left: 10%;
    margin-right: 10%;
  }

  .info img{
    width: 4.5%;
    height: 8%;
    margin-left: 0.7%;
    position: absolute;
    top: 1%;
    left: 94%;
  }

  #cerrar-sesion{
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #000;
    color: black;
    transition: background-color 0.3s;

    position: absolute;
    top: 5.5%;
    left: 83.8%;
  }

  #cerrar-sesion:hover {
    background-color: rgba(223, 223, 223, 0.801);
  }

  #sidemenu {
    background-color: black;
  }

  #sidemenu a{
    color: white;
    text-decoration: none;
  }


/*Header*/

  #sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
  }

  #sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
  }

  #sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
  }

  #sidemenu #header #menu-btn{
    display: inline-block;
  }

  #sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
  }

  #sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
  }

  #sidemenu #header #menu-btn .btn-hamburger{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
  }

  /*Items*/

  #sidemenu #menu-items{
    overflow: hidden;
  }

  #sidemenu #menu-items .item{
    width: var(--width);
  }

  #sidemenu #menu-items .item .icon{
    display: inline-block;
  }

  #sidemenu #menu-items .item .icon,
  #sidemenu #menu-items .item .title{
    font-size: 17px;
    vertical-align: middle;
    overflow: hidden;
    /*padding: 5px;
    margin: 5px;*/
  }

  #sidemenu #menu-items .item a{
    display: block;
    transition: background-color 0.3s;
  }

  #sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
  }

  
  .menu-expanded #menu-items .item .icon{
    box-sizing: border-box;
    padding: 2% 0%;
    padding-left: 15.5%;
    width: 100%;
  }
  
  .menu-collapsed #menu-items .item .icon{
    box-sizing: border-box;
    padding: 2% 0%;
    padding-left: 2.5%;
    width: 60%;
  }


  #sidemenu #menu-items .item .icon img{
    width: 20%;
  }
  
  /**/
  #sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
    font-size: 13px;
    
  }

  #sidemenu #menu-items .item #icon-1{
    padding-left: 6%;
  }
  #sidemenu #menu-items .item #icon-2{
    padding-left: 12%;
  }
  #sidemenu #menu-items .item #icon-3{
    padding-left: 1.3%;
  }
  #sidemenu #menu-items .item #icon-4{
    padding-left: 10%;
  }
  #sidemenu #menu-items .item #icon-5{
    padding-left: 14.5%;
  }
  #sidemenu #menu-items .item #icon-6{
    padding-left: 19.3%;
  }
  #sidemenu #menu-items .item #icon-7{
    padding-left: 7.4%;
  }

  #sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
  }

  .menu-expanded{
    width: 8%;
    box-shadow: 0 0 10px rgba(0,0 green,0 blue,0.5 alpha);
  }

  .menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: 15%;
  }

  .menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
    margin-left: 40%;
    
  }

  .menu-collapsed{
    width: var(--width-collapsed);
  }

  .menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .menu-collapsed #menu-items .title{
   display: none;
   
  } 


  footer{
    margin-top: 0px;
    padding: 6px;
    text-align: center;
    height: 30px;
  }

  /**/
  .contenido{
    height: 839px;
  }


  /*Rendimiento*/
  .rendimiento{
    margin-left: auto; 
    margin-right: auto;
    height: 70%;
    width: 90%;
  }

  .rendimiento h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 3%; 
    padding-top: 0.7%;
    color: blue;
  }

  .rendimiento .box-rendi{
    width: 45%;
    height: 40%;
    margin-left: 3%;
    margin-bottom: 2%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid blue;
  }

  .rendimiento h1{
    height: 11.5%;
  }
  .rendimiento #rendi1{
    float: right;
    margin-right: 3%;
  }

  .rendimiento .rendi-datos{
    height: 60%;
    border-radius: 10px 10px 0px 0px;
  }

  
  .rendimiento #rendi1 .rendi-datos {
    background-color: blue;
  }

  .rendimiento #rendi2 .rendi-datos {
    background-color: blue;
  }

  .rendimiento #rendi3 .rendi-datos {
    background-color: blue;
  }

  .rendimiento #rendi4 .rendi-datos {
    background-color: red;
  }

  .rendimiento .rendi-resumen{
    height: 40%;
  }

  .rendimiento  #rendi3{
    float: right;
    margin-right: 3%;
  }

  .rendimiento .rendi-datos .gastos-text{
    padding-top: 1.2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    width: 50%;
    color: white;
  }

  .rendimiento .rendi-datos .mes-text{
    float: left;
    font-size: 40px;
    color: white;
    margin-top: 0.1%;
    margin-left: 15%;
  }

 .rendimiento .rendi-datos .porcentaje-text{
    float: right;
    font-size: 65px;
    color: white;
    margin-right: 17%;
    margin-top: 1%;
  }

  .rendimiento .mesage{
    font-size: 25px;
    margin-top: 3%;
    margin-left: 38%;
    float: left;
    width: 30%;
    color: black;
  }

  .rendimiento .img-resumen{
    margin-top: 2%;
    margin-left: 23%;
    height: 68%;
  }

  /*Informacion*/
  .informacion_interes{
    margin-left: auto; 
    margin-right: auto;
    padding-top: 2%;
    height: 30%;
    width: 90%;
  }
  
  #titulo-interes{
    width: 20%;
    margin-left: auto; 
    margin-right: auto;
  }

  .interes-box-content{
    width: 60%;
    margin-top: 1%;  
    margin-left: auto;
    margin-right: auto;
    height: 27%;
    background-color: hsla(0, 12%, 95%, 0.973);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  }

  .interes-box-content .content-box{
    width: 6%;
    border-radius: 10px  0px 0px 10px;
    height: 100%;
    padding-top: 1.5%;
  }

  .interes-box-content #cont-box1{
    background-color: orange;
  }

  .interes-box-content #cont-box2{
    background-color: cornflowerblue;
  }

  .content-box .box-texto{
    margin-bottom: 100px;
  }

  .content-box  #texto-info1{
    text-align: center;
    margin-left: 270px;
    width: 470px;
  }

  .content-box  #texto-info2{
    text-align: center;
    margin-left: 220px;
    width: 605px;
  }

   /*Media Queries*/

  @media (max-widh:600px) {
    .interes-box-content #cont-box2{
      background-color: black;
    }
  }


 /* .rendimiento{
    padding: 10px;
    width: 20%;
    background-color: darkcyan;
  }*/


  /*
  #sidemenu{
    background-color: burlywood;
  }

  #header{ 
    background-color: cornflowerblue;
  }

  #menu-items{
    background-color: gray;
  }

  .item { 
    background-color: yellow;
  }

  .menu-collapsed .item a{ 
    background-color: blue;
  }

 .icon{ 
    background-color: orange;
  }

 .icon img{ 
    background-color: white;
  }
  
*/
@media screen and (max-width: 800px){
  /*Header*/
  
  #sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
  }
  
  #sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
  }
  
  #sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
  }
  
  #sidemenu #header #menu-btn{
    display: inline-block;
  }
  
  #sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
  }
  
  #sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
  }
  
  #sidemenu #header #menu-btn .btn-hamburger{
    background-color: transparent;
    width: 110%;
    height: 2px;
    margin: 8px 0;
  }
  
  /*Items*/
  
  #sidemenu #menu-items{
    overflow: hidden;
  }
  
  #sidemenu #menu-items .item{
    width: 300px;
  }
  
  #sidemenu #menu-items .item .icon{
    display: inline-block;
  }
  
  #sidemenu #menu-items .item .icon,
  #sidemenu #menu-items .item .title{
    font-size: 17px;
    vertical-align: middle;
    overflow: hidden;
    /*padding: 5px;
    margin: 5px;*/
  }
  
  #sidemenu #menu-items .item a{
    display: block;
    transition: background-color 0.3s;
  }
  
  #sidemenu #menu-items .item a:hover{
    background-color: red;
  }
  
  
  .menu-expanded #menu-items .item .icon{
    box-sizing: border-box;
    padding: 2% 0%;
    padding-left: 15.5%;
    width: 100%;
  }
  
  .menu-collapsed #menu-items .item .icon{
    box-sizing: border-box;
    padding: 2% 0%;
    padding-left: 2.5%;
    width: 80%;
  }
  
  
  #sidemenu #menu-items .item .icon img{
    width: 20%;
  }
  
  /**/
  #sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
    font-size: 13px;
    
  }
  
  #sidemenu #menu-items .item #icon-1{
    padding-left: 6%;
  }
  #sidemenu #menu-items .item #icon-2{
    padding-left: 12%;
  }
  #sidemenu #menu-items .item #icon-3{
    padding-left: 1.3%;
  }
  #sidemenu #menu-items .item #icon-4{
    padding-left: 10%;
  }
  #sidemenu #menu-items .item #icon-5{
    padding-left: 14.5%;
  }
  #sidemenu #menu-items .item #icon-6{
    padding-left: 19.3%;
  }
  #sidemenu #menu-items .item #icon-7{
    padding-left: 7.4%;
  }
  
  #sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
  }
  
  .menu-expanded{
    width: 8%;
    box-shadow: 0 0 10px rgba(0,0 green,0 blue,0.5 alpha);
  }
  
  .menu-expanded #header #title{
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: 15%;
  }
  
  .menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
    margin-left: 100%;
    
  }
  
  .menu-collapsed{
    width: var(--width-collapsed);
  }
  
  .menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  
  .menu-collapsed #menu-items .title{
   display: none;
   
  } 
  
  
  
  
  
  
  
  
  
  
  
  
      .menu {
        background-color: white;
        height: 100px;
        width: 430px;
        background-color: purple;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
  
      }
     
      #logo{
        content-visibility: hidden;
      }
    
      .info{
        padding-left: 0px;
        padding-top: -10px;
        margin-top: 0px;
        margin-left: 170px;
        background-color: orange;
        width: 230px;
        height: 100px;
        display: block;
  
      }
    
      .info #title-Info{
        background-color: red;
        position: absolute;
        margin-left: 0px;
        margin-right: 0px;
        transform: translate(10%, 50%);
      }
    
      .info img{
        content-visibility: hidden;
        background-color: transparent;
      }
    
      #cerrar-sesion{
        display: inline-block;
        margin-top: -20px;
        margin-left: -250px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 15px;
        text-decoration: none;
        border-radius: 10px;
        background-color: blue;
        border: 2px solid transparent;
        color: white;
        transition: background-color 0.3s;
    
        position: absolute;
        top: 5.5%;
        left: 84.5%;
      }
  
  
  
  
  
  
  
      .contenedor {
        width: 200px;
        font-size: 10px;
        margin-left: -2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        float: left;
        text-align: center;
        background-color: rgba(0, 0, 0, .16);
        margin-left: 20px;
        padding: 50px;
        box-shadow: 5px 5px 5px;
        border-radius: 30px;
        display: block;
      }
      .caja1{
        width: 350px;
        height: 500px;
        margin-top: 20px;
        margin-left: 35px;
        padding: 50px 0;
        float: flex;
      
      }
      .caja2{
        float: flex;
        width: 350px;
        height: 600px;
        margin-top: 30px;
        margin-left: 35px;
        padding: 50px 0;
        
      }
      label{
        font-size: 15px;
        font-family: 'ABeeZee', sans-serif; 
        text-align: justify;
        width: 100px;
        height: 100px;
        border: none;
        cursor: pointer;
    }
      .contenedor input {
        width: 80%;
        text-align: left;
        border: none;
        border-bottom: white thin solid;
        align-content: center;
        padding: .2rem 0;
        font-size: 4px;
        color: white;
    }
    
    .contenedor input[type="text"] {
        width: 30%;
  
    
        align-content: center;
        border: solid thin white;
        padding: .3rem;
        border-radius: 2rem;
        background-color: white;
        font-weight: 700;
      
        font-size: .8rem;
        cursor: pointer;
        color: #222;
    }
    
      button {
        background-color: blue;
        display: inline;
        font-size: 20px;
        padding: 10px 40px;
        align-content: center;
        border-radius: 10px;
        margin-left: 200px;
        margin-top: 17px;
        color: white;
        
      }
        
    }

