*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52,52,52);
    --hovercolor: rgb(2, 33, 187);
    --width-collapsed: 50px;
  }
  
  body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: var(--width-collapsed);
  
    /* overflow: hidden; */

  }
  
  /*Color
  body::before{
      
    content: "";
    width: 104%;
    height: 105%;
  
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    background: linear-gradient(blue, aqua);
  
    opacity: 0.7;
    z-index: -1;
  }*/
  
  
  .body-expanded{
    margin-left: 10%;
  }
  
  #main-container{
    color: white;
  }
  
  #sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 00%;
    left: 0;
    top: 0;
  }
  
  .menu {
      background-color: white;
      height: 100px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);

    }
   
    #logo{
      float:left;
      width:110px;
      height: 110%;
      display: block;
      margin-left: 46%;
      background-color: transparent;
    }
  
    .info{
      padding-top: 0.7%;
      margin-left: 75%;
      background-color: transparent;
      width: 20%;
      height: 100px;
    }
  
    .info #title-Info{
      background-color: transparent;
      float: left;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .info img{
      background-color: ghostwhite;
      width: 80px;
      height: 80px;
      margin-left: 20px;
      position: absolute;
      top: 1%;
      left: 90%;
    }
  
    #cerrar-sesion{
      display: inline-block;
      margin-top: -5px;
      margin-left: -130px;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      text-decoration: none;
      border-radius: 10px;
      background-color: blue;
      border: 2px solid transparent;
      color: white;
      transition: background-color 0.3s;
  
      position: absolute;
      top: 5.5%;
      left: 84.5%;
    }
  
    #cerrar-sesion:hover {
      background-color: white;
    }
  
    #sidemenu {
      background-color: black;
    }
  
    #sidemenu a{
      color: white;
      text-decoration: none;
    }
  

  /*Header*/
  
    #sidemenu #header{
      box-sizing: border-box;
      border-bottom: solid 1px var(--hovercolor);
    }
  
    #sidemenu #header #title{
      box-sizing: border-box;
      overflow: hidden;
    }
  
    #sidemenu #header #title, #sidemenu #header #menu-btn{
      vertical-align: middle;
    }
  
    #sidemenu #header #menu-btn{
      display: inline-block;
    }
  
    #sidemenu #header #menu-btn{
      cursor: pointer;
      padding: 10px;
      width: var(--width-collapsed);
      box-sizing: border-box;
    }
  
    #sidemenu #header #menu-btn:hover{
      background-color: var(--hovercolor);
    }
  
    #sidemenu #header #menu-btn .btn-hamburger{
      background-color: #fff;
      width: 100%;
      height: 2px;
      margin: 5px 0;
    }
  
    /*Items*/
  
    #sidemenu #menu-items{
      overflow: hidden;
    }
  
    #sidemenu #menu-items .item{
      width: var(--width);
    }
  
    #sidemenu #menu-items .item .icon{
      display: inline-block;
    }
  
    #sidemenu #menu-items .item .icon,
    #sidemenu #menu-items .item .title{
      font-size: 17px;
      vertical-align: middle;
      overflow: hidden;
      /*padding: 5px;
      margin: 5px;*/
    }
  
    #sidemenu #menu-items .item a{
      display: block;
    }
  
    #sidemenu #menu-items .item a:hover{
      background-color: var(--hovercolor);
    }
  
    
    .menu-expanded #menu-items .item .icon{
      box-sizing: border-box;
      padding: 2% 0%;
      padding-left: 15.5%;
      width: 100%;
    }
    
    .menu-collapsed #menu-items .item .icon{
      box-sizing: border-box;
      padding: 2% 0%;
      padding-left: 2.5%;
      width: 60%;
    }
  
  
    #sidemenu #menu-items .item .icon img{
      width: 20%;
    }
    
    /**/
    #sidemenu #menu-items .item .title{
      padding: var(--padding) 0;
      font-size: 13px;
      padding-left: 6%;
    }
  
    #sidemenu #menu-items .item.separator{
      height: 1px;
      border-bottom: solid 1px var(--hovercolor);
      margin: 15px 0;
    }
  
    .contenedor {
      width: 200px;

      margin-left: -2rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      float: left;
      text-align: center;
      background-color: rgba(0, 0, 0, .16);
      margin-left: 20px;
      padding: 50px;
      box-shadow: 5px 5px 5px;
      border-radius: 30px;
    }
    .caja1{
      width: 600px;
      height: 800px;
      margin-top: 70px;
      margin-left: -700px;
      padding: 100px 0;
      float: flex;
    
    }
    .caja2{
      float: flex;
      width: 600px;
      height: 800px;
      margin-top: 70px;
      padding: 100px 0;
      
    }
    label{
      font-size: 25px;
      font-family: 'ABeeZee', sans-serif; 
      text-align: justify;
      width: 100px;
      height: 100px;
      border: none;
      cursor: pointer;
  }
  .contenedor input {
    width: 80%;
    text-align: left;
    border: none;
    border-bottom: white thin solid;
    align-content: center;
    padding: .2rem 0;
    font-size: .10rem;
    color: white;
}

.contenedor input[type="text"] {
    width: 30%;
    margin: auto;

    align-content: center;
    border: solid thin white;
    padding: .3rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 700;
  
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}








    .menu-expanded{
      width: 8%;
      box-shadow: 0 0 10px rgba(0,0 green,0 blue,0.5 alpha);
    }
  
    .menu-expanded #header #title{
      display: inline-block;
      width: calc(100% - 50px);
      margin-right: -5px;
      padding: 15%;
    }
  
    .menu-expanded #header #title span{
      width: calc(var(--width) - var(--width-collapsed) - 5px);
      overflow: hidden;
      display: inline-block;
      margin-left: 40%;
      
    }
  
    .menu-collapsed{
      width: var(--width-collapsed);
    }
  
    .menu-collapsed #header #title{
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  
    .menu-collapsed #menu-items .title{
     display: none;
    } 
  

    

    button {
      background-color: blue;
      display: inline;
      font-size: 20px;
      padding: 10px 40px;
      align-content: center;
      border-radius: 10px;
      margin-left: 835px;
      margin-top: 17px;
      color: white;
      
    }
     #btn-cerrar-modal{
      margin-left: 10px;
    }

    #modal::backdrop{
      background-color: rgba(0, 0, 0,.55);
      align-items: center;

    }
    #modal{
      font-family: 'ABeeZee', sans-serif; 
      margin-top: 200px;
      margin-left: 700px;
      max-width: 100ch;
      height: 300px;
      width: 500px;
      text-align: center;
      border: 1px solid #ccc;
      border-color: 15px blue;
  
    
      border-radius: 30px;
    }

    footer{
      margin-top: 12px;
      padding: 3px;
      text-align: center;
      color: black;
      height: 30px; /* Establece la altura deseada para el footer */
    }
















  
    /**/
    /* .container-form {
      width: 95%;
      height: 70%;
      display: flex;
      justify-content: space-around;
  
      background-color:yellow;
  }
  
  .welcome-back {
      display: block;
      align-items: center;
      text-align: center;
  }
  
  .message {
      padding: 1rem;
  }
  
  .message h2 {
      font-size: 1.7rem;
      padding: 1rem 0;
  }
  
  .message button {
      padding: 1rem;
      font-weight: 400;
      background-color: #4a4aee;
      border-radius: 2rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: .9rem;
      margin-top: 2rem;
      transition: all .3s ease-in;
      color: #fff;
  }
  
  .message button:hover {
      background-color: #6464f8;
  }
  
  .formulario {
      width: 400px;
      padding: 1rem;
      margin: 2rem;
      background-color: rgb(51, 51, 51, 0.602);
      text-align: center;
  }
  .formulario2 {
    display: inline-block;
    width: 200px;
    padding: 10rem;
    margin: 10rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}
  
  .create-account {
      padding: 2.7rem 0;
      font-size: 1.7rem;
  }
  
  .iconos {
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin: auto;
  }
  
  .border-icon {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      border: solid thin white;
      border-radius: 50%;
      font-size: 1.5rem;
      transition: all .3s ease-in;
  }
  
  .border-icon:hover {
      background-color: #4a4aee;
      cursor: pointer;
  }
  
  .cuenta-gratis {
      padding: 2rem 0;
  }
  
  .formulario input {
      width: 70%;
      display: block;
      margin: auto;
      margin-bottom: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: white thin solid;
      text-align: center;
      outline: none;
      padding: .2rem 0;
      font-size: .9rem;
      color: white;
  }
  
  .formulario input[type="button"] {
      width: 60%;
      margin: auto;
      border: solid thin white;
      padding: .7rem;
      border-radius: 2rem;
      background-color: white;
      font-weight: 600;
      margin-top: 3rem;
      font-size: .8rem;
      cursor: pointer;
      color: #222;
  }
  
  .sign-in {
      position: absolute;
      opacity: 0;
      visibility: hidden;
  }
  
  .sign-in.active {
      opacity: 1;
      visibility: visible;
  }
  
  .sign-up.active {
      opacity: 0;
      visibility: hidden;
  }



 */
























    /* .contenido{
      height: 490px;
      min-width: none;
      min-height: 10px;
      margin-left: 0rem;

      background-color: orange;
    }
  
    .rendimiento{
      margin-left: auto; 
      margin-right: 100px;
      height: 170%;
      width: 90%;
      top: 0;
      float: none;
      background-color: white;
    }
    .rendimiento1{
      margin-left: 10px-20px; 
      margin-right: auto;
      height: 120px;
      width: 150px;
      background-color: white;
    }
  
    .rendimiento .box-rendi{
      padding: 10px;
      width: 40%;
      height: 70%;
      margin-left: 5%;
      margin-bottom: 50px;
      background-color: rgb(123, 165, 242);
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    }
    .rendimiento1 .box-rendi1{
      padding: 10px;
      width: 40%;
      height:70%;
      display: block;
 

      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    }
  .rendimiento .max #one{
    color: black;
    margin-left: 19px;
    background-color: transparent;
    font-size: 30px;
    margin-top: 5px;
    text-align: left;

  }
  .rendimiento1 .max #one{
    color: black;
    margin-left: 19px;
    background-color: transparent;
    font-size: 30px;
    margin-top: 5px;
    text-align: left;

  }
    .rendimiento #gran{
        font-family: 'ABeeZee', sans-serif; 
        font-size: 40px;
        margin-right: 1300px;
        color: blue;
    }
    .rendimiento1 #gran{
      font-family: 'ABeeZee', sans-serif; 
      font-size: 40px;
      margin-right: 1300px;
      color: blue;
  }
    label{
        font-size: 30px;
        
        position: relative;
        width: 100px;
        height: 100px;
    }
    .rendimiento h1{
      float: none;
      margin-top: 30px ;
      padding-bottom: 2%;

    }
    .rendimiento1 h1{

      margin-top: 30px ;
      padding-bottom: 2%;

    }
    .rendimiento h2{

        color: #000;
        padding-bottom: -10%;
        padding-top: 3%;
  
      }
      .rendimiento1 h2{

        color: #000;
        padding-bottom: -10%;
        padding-top: 3%;
  
      }
    .rendimiento {
        padding-bottom: 2%;
        color: black;
        text-decoration: none;
        font-family: 'ABeeZee', sans-serif;
        text-align: center;
        float: none;
      }
      .rendimiento1 {
        padding-bottom: 2%;
        color: black;
        text-decoration: none;
        font-family: 'ABeeZee', sans-serif;
        text-align: center;
      }
      .rendimiento  #mes{
        font-size: 40px;
       

        color: white;
        text-align: center;
      }
      .rendimiento1  #mes{
        font-size: 40px;
       

        color: white;
        text-align: center;
      }

    .rendimiento #rendi1{
      float: right;
      margin-right: 55%;

      background-color: red;
    }
    .rendimiento #rendi2{

       float: flex;
        margin-right: 150%;
        margin-left: 20%;
        background-color: rgb(98, 98, 236);
      } */


    
   /* .rendimiento{
      padding: 10px;
      width: 20%;
      background-color: darkcyan;
    }*/
  
  
    /**/
    #sidemenu{
      background-color: gray;
      box-shadow: 20px 0px 30px rgba(0, 0, 0, .16);
    }
  
    #header{ 
      background-color: blue;
    }
  
    #menu-items{
      background-color: white;
    }
  
    .item { 
      background-color: blue;
    }
  
    .menu-collapsed .item a{ 
      background-color: transparent;
      
    }
  
   .icon{ 
      background-color: white;
    }
  
   .icon img{ 
      background-color: white;
    }
    
  /**/
  
  
  